{% extends "apptemp/base.html" %}
{% load crispy_forms_tags%}
{% block content %}


  <!-- Header -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Password Reset</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <form method="post">
	{% csrf_token %}
      <div class="w3-section">
        {{form | crispy}}
      </div>
      
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Password Reset</button>
    </form>  
  </div>
  
  
  


<!-- End page content -->
{% endblock %}